<h4> Home Page </h4>


<a style="color:white" data-toggle="popover" title="Example" data-content="IF You Have A Tabs Control On Page, Default Is To Heighlight Tab With Active Class Applied , But With Track Url Method You Can Target Any Tab And It Just Got Highlighted ,Just Need To Include Panel Id In Url e.g=<b> http://www.yoursite.com/#panel4</b>"><i class="icon-question"></i></a>


<% if radio_button_tag :history_yes :true %>

	<% else %>

	<% end %>


	<%  :symptom = :symptom.gsub '_', ' ' %> 